{{ block "unit-converter" . }}
<html>
<head>
    <title>Our First HTML Site!</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/tiny-brutalism.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

</head>
    <body>
        <h1 class="m-1">Unit converter</h1>
        <div class="box m-1">
            {{template "tabs" . }}
        </div>
        <div class="box m-1">
            {{ template "form" .}}
        </div>
    </body>
</html>
{{end}}

{{ block "tabs" .}}
    <div id="tabs" style="display: flex; gap: 1rem;">
        <button
            hx-target="#tabs"
            hx-get="/?tab=length"
            hx-push-url="true"
            {{ if .IsTabSelected "length" }} class="alert-info" {{end}}
        >Length</button>
        <button
            hx-target="#tabs"
            hx-get="/?tab=weight"
            hx-push-url="true"
            {{ if .IsTabSelected "weight" }} class="alert-info" {{end}}
        >Weight</button>
        <button
            hx-target="#tabs"
            hx-get="/?tab=temperature"
            hx-push-url="true"
            {{ if .IsTabSelected "temperature" }} class="alert-info" {{end}}
        >Temperature</button>
    </div>
{{end }}

{{ block "length" .}}
<form hx-post="/?tab=length" hx-target="#tab-content">
    <label>
        Enter the length to convert
        <input type="number" name="length" />
    </label>
    <label>
        Unit to convert from
        <select name="unit-from">
            <option value="cm">cm</option>
            <option value="m">m</option>
            <option value="km">km</option>
        </select>
    </label>
    <label>
        Unit to convert to
        <select name="unit-to">
            <option value="cm">cm</option>
            <option value="m">m</option>
            <option value="km">km</option>
        </select>
    </label>
    <button type="submit" class=>Convert</button>
</form>
{{ end }}

{{ block "weight" .}}
<form hx-post="/?tab=weight" hx-target="#tab-content">
    <label>
        Enter the weight to convert
        <input type="number" name="weight" />
    </label>
    <label>
        Unit to convert from
        <select name="unit-from">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lb">lb</option>
        </select>
    </label>
    <label>
        Unit to convert to
        <select name="unit-to">
            <option value="g">g</option>
            <option value="kg">kg</option>
            <option value="lb">lb</option>
        </select>
    </label>
    <button type="submit">Convert</button>
</form>
{{ end }}

{{ block "temperature" .}}
<form hx-post="/?tab=temperature" hx-target="#tab-content">
    <label>
        Enter the temperature to convert
        <input type="number" name="temperature" />
    </label>
    <label>
        Unit to convert from
        <select name="unit-from">
            <option value="c">c</option>
            <option value="f">f</option>
        </select>
    </label>
    <label>
        Unit to convert to
        <select name="unit-to">
            <option value="c">c</option>
            <option value="f">f</option>
        </select>
    </label>
    <button type="submit">Convert</button>

</form>
{{ end }}

{{ block "form-content" . }} 
    {{if .IsTabSelected "length"}}
        {{ template "length" .}}
    {{end}}

    {{if .IsTabSelected "weight"}}
        {{ template "weight" .}}
    {{end}}

    {{if .IsTabSelected "temperature"}}
        {{ template "temperature" .}}
    {{end}}
{{ end }} 

{{ block "form" .}}
<div id="tab-content">
    {{ template "form-content" .}}
</div>
{{end}}

{{ block "oob-form" .}}
<div hx-swap-oob="outerHTML" id="tab-content">
    {{ template "form-content" .}}
</div>
{{end}}

{{ block "length-result" .}}
    <p class="pt-1">Length: {{ .PreviousValue }} {{ .UnitFrom }} = {{ .NewValue }} {{ .UnitTo }}</p>
    <button hx-get="/?tab=length" hx-target="#tab-content">Back</button>
{{end}}

{{ block "weight-result" .}}
    <p class="pt-1">Weight: {{ .PreviousValue }} {{ .UnitFrom }} = {{ .NewValue }} {{ .UnitTo }}</p>
    <button hx-get="/?tab=weight" hx-target="#tab-content">Back</button>
{{end}}

{{ block "temperature-result" .}}
    <p class="pt-1">Temperature: {{ .PreviousValue }} {{ .UnitFrom }} = {{ .NewValue }} {{ .UnitTo }}</p>
    <button hx-get="/?tab=temperature" hx-target="#tab-content">Back</button>
{{end}}
