{{ block "index" . }}
<html>

<head>
    <title>Our First HTML Site!</title>
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="stylesheet" href="/static/tiny-brutalism.css" />
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

</head>

<body>
    {{ template "user-form" .Form }}
    <br />
    {{ template "display" . }}
</body>

</html>
{{ end }}

{{ block "user-form" . }}
<h1>Add contact</h1>
<div class="box m-1">

    <form hx-post="/contacts" hx-swap="outerHTML">
        Name: <input name="name" {{ if .Values }} {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} {{ end }}
            placeholder="Name">
        Email: <input name="email" {{ if .Values }} {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} {{ end
            }} placeholder="email">
        <button type="submit">Submit</button>
    </form>
</div>
{{ end }}

{{ block "display" . }}
<div id="contacts" style="display: flex; flex-direction: column;">
    <h1>Contacts</h1>
    {{ range .Contacts }}
    {{ template "contact" . }}
    {{ end }}
</div>


{{ end }}

{{ block "contact" . }}
<div class="box">
    Name: <span> {{ .Name }}</span>
    Email: <span> {{ .Email }}</span>
</div>
{{ end }}

{{ block "oob-contact" . }}
<div hx-swap-oob="afterbegin" id="contacts">
    {{ template "contact" . }}
</div>
{{ end }}
